{% comment %} Assume the variable `paper` is defined {% endcomment %}

<tr class="publications" id="{{ paper.id }}">
  <td class="publications align_rt">
    {% comment %} Date formatting {% endcomment %}
    {% if paper.date %}
      {{ paper.date | date: "%Y<br>%B" }}
    {% elsif paper.status %}
      <em>({{ paper.status }})</em>
    {% endif %}
  </td>

  <td class="publications">
    {% comment %} Author formatting {% endcomment %}
    {%- if paper.authors.size == 2 -%}
      {%- if paper.authors[0] == "Praveen Venkatesh" -%}
        <strong>{{ paper.authors[0] }}</strong> and {{ paper.authors[1] }}
      {%- elsif paper.authors[1] == "Praveen Venkatesh" -%}
        {{ paper.authors[0] }} and <strong>{{ paper.authors[1] }}</strong>
      {%- endif -%}
    {%- else -%}
      {%- for author in paper.authors -%}
        {%- if author == "Praveen Venkatesh" -%}
          <strong>{{ author }}</strong>
        {%- else -%}
          {{ author }}
        {%- endif -%}
        {%- unless forloop.last -%}, {% endunless %}
        {% comment %} `if not` doesn't work, apparently {% endcomment %}
        {% comment %} No dash for endunless: space after comma {% endcomment %}
      {%- endfor -%}
    {%- endif -%}
    <br>

    {% comment %} Title formatting {% endcomment %}
    {%- if paper.url -%}
      <a href="{{ paper.url }}">"{{ paper.title }}"</a>
    {%- else -%}
      "{{ paper.title }}"
    {%- endif -%}
    <br>

    {% comment %} Venue and status formatting {% endcomment %}
    {%- if paper.venue -%}
      <em>{{ paper.venue }}</em>
      {%- if paper.status -%}
        <br>
      {%- endif -%}
    {%- endif -%}
    {%- if paper.status -%}
      <em>({{ paper.status }})</em>
    {%- endif -%}

    {% comment %} Links formatting {% endcomment %}
    {% if paper.links %}
      <br><p class="publication__link">
      {% if paper.links.full_version %}
        <a class="publication__link-item" href="{{ paper.links.full_version }}"><i class="fa fa-file-text" aria-hidden="true"></i> Full version</a>
      {% endif %}
      {% if paper.links.slides %}
        <a class="publication__link-item" href="{{ paper.links.slides }}"><i class="fa fa-caret-square-o-right" aria-hidden="true"></i> Slides</a>
      {% endif %}
      {% if paper.links.code %}
        <a class="publication__link-item" href="{{ paper.links.code }}"><i class="fa fa-code" aria-hidden="true"></i> Code</a>
      {% endif %}
      {% if paper.links.doi %}
        <a class="publication__link-item" href="{{ paper.links.doi }}"><i class="ai ai-doi" aria-hidden="true"></i> doi</a>
      {% endif %}
      {% if paper.links.ieee %}
        <a class="publication__link-item" href="{{ paper.links.ieee }}"><i class="ai ai-ieee" aria-hidden="true"></i> View @ IEEE</a>
      {% endif %}
      {% if paper.links.biorxiv %}
        <a class="publication__link-item" href="{{ paper.links.biorxiv }}"><i class="ai ai-biorxiv" aria-hidden="true"></i> View @ BioRxiv</a>
      {% endif %}
      </p>
    {% endif %}
  </td>
</tr>
