{% comment %} Assume the variable `paper` is defined {% endcomment %}

<tr class="publications" id="{{ paper.id }}">
  <td class="publications align_rt">
    <a href="#{{ paper.id }}" style="color: #494e52; text-decoration: none;">
    {% comment %} Date formatting {% endcomment %}
    {% if paper.shortvenue %}
      <span style="border-bottom: 1px solid #e6e6e6;">{{ paper.shortvenue }}</span><br>
    {% endif %}
    {% if paper.date %}
      {{ paper.date | date: "%Y<br>%B" }}
    {% elsif paper.status %}
      <em>({{ paper.status }})</em>
      {% comment %} Parentheses are added around the status here {% endcomment %}
      {% comment %} So no need for parentheses in _data/publications.yml {% endcomment %}
    {% endif %}
    </a>
  </td>

  <td class="publications">
    {% comment %} Author formatting {% endcomment %}
    {%- for author in paper.authors -%}
      {%- unless forloop.first -%}
        {% if forloop.last %} and {% endif %}
        {%- unless forloop.last -%}, {% endunless %}
        {% comment %} `if not` doesn't work, apparently {% endcomment %}
        {% comment %} No dash for endunless: space after comma {% endcomment %}
      {%- endunless -%}
      {%- if author contains "Praveen Venkatesh" -%}
        <strong>{{ author }}</strong>
      {%- else -%}
        {{ author }}
      {%- endif -%}
    {%- endfor -%}
    <br>

    {% comment %} Title formatting {% endcomment %}
    {%- if paper.url -%}
      <a href="{{ paper.url }}">"{{ paper.title }}"</a>
    {%- else -%}
      "{{ paper.title }}"
    {%- endif -%}

    {% comment %} Venue and status formatting {% endcomment %}
    {%- if paper.venue -%}
      <br><em>{{ paper.venue }}</em>
    {%- endif -%}
    {%- if paper.status -%}
      <br><em>({{ paper.status }})</em>
    {%- endif -%}

    {% comment %} Note formatting {% endcomment %}
    {%- if paper.note -%}
      <br>{{ paper.note }}
    {%- endif -%}

    {% comment %} Links formatting {% endcomment %}
    {% if paper.links %}
      <br><p class="publication__link">
      {% if paper.links.full_version %}
        <a class="publication__link-item" href="{{ paper.links.full_version }}"><i class="fa fa-file-text" aria-hidden="true"></i> Full version</a>
      {% endif %}
      {% if paper.links.preprint %}
        <a class="publication__link-item" href="{{ paper.links.preprint }}"><i class="fa fa-file-text" aria-hidden="true"></i> Preprint</a>
      {% endif %}
      {% if paper.links.abstract %}
        <a class="publication__link-item" href="{{ paper.links.abstract }}"><i class="fa fa-file-text" aria-hidden="true"></i> Abstract</a>
      {% endif %}
      {% if paper.links.slides %}
        <a class="publication__link-item" href="{{ paper.links.slides }}"><i class="fa fa-caret-square-o-right" aria-hidden="true"></i> Slides</a>
      {% endif %}
      {% if paper.links.code %}
        <a class="publication__link-item" href="{{ paper.links.code }}"><i class="fa fa-code" aria-hidden="true"></i> Code</a>
      {% endif %}
      {% if paper.links.doi %}
        <a class="publication__link-item" href="{{ paper.links.doi }}"><i class="ai ai-doi" aria-hidden="true"></i> doi</a>
      {% endif %}
      {% if paper.links.ieee %}
        <a class="publication__link-item" href="{{ paper.links.ieee }}"><i class="ai ai-ieee" aria-hidden="true"></i> IEEE.org</a>
      {% endif %}
      {% if paper.links.biorxiv %}
        <a class="publication__link-item" href="{{ paper.links.biorxiv }}"><i class="ai ai-biorxiv" aria-hidden="true"></i> BioRxiv.org</a>
      {% endif %}
      {% if paper.links.arxiv %}
        <a class="publication__link-item" href="{{ paper.links.arxiv }}"><i class="ai ai-arxiv" aria-hidden="true"></i> arXiv.org</a>
      {% endif %}
      {% if paper.links.nature %}
        <a class="publication__link-item" href="{{ paper.links.nature }}"><i class="ai ai-springer" aria-hidden="true"></i> Nature.com</a>
      {% endif %}
      {% if paper.links.poster %}
        <a class="publication__link-item" href="{{ paper.links.poster }}"><i class="fa fa-file-image-o" aria-hidden="true"></i> Poster</a>
      {% endif %}
      {% if paper.links.external %}
        {% for link in paper.links.external %}
          <a class="publication__link-item" href="{{ link[1] }}"><i class="fa fa-link" aria-hidden="true"></i> {{ link[0] }}</a>
        {% endfor %}
      {% endif %}
      </p>
    {% endif %}
  </td>
</tr>
