---
layout: single
author_profile: true
mathjax: true
---

{% comment %}<h3>About me</h1>{% endcomment %}

<p style="font-size: x-large;">
I am a Scientist and a <a href="https://alleninstitute.org/what-we-do/brain-science/careers/shanahan-foundation-fellowship/">Shanahan Fellow</a> at the <a href="https://alleninstitute.org">Allen Institute</a> and the <a href="https://compneuro.washington.edu/">University of Washington</a> in Seattle.
</p>

<hr>

<p>
I work primarily with <a href="https://alleninstitute.org/what-we-do/brain-science/about/team/staff-profiles/stefan-mihalas/">Dr. Stefan Mihalas</a> at the Allen Institute. I am also mentored by <a href="https://alleninstitute.org/what-we-do/brain-science/about/team/staff-profiles/christof-koch/">Dr. Christof Koch</a> and <a href="https://fairhalllab.com/">Prof. Adrienne Fairhall</a>.
</p>

<p>
I completed my Ph.D. in Electrical and Computer Engineering from Carnegie Mellon University.
My thesis advisor was <a href="https://users.ece.cmu.edu/~pgrover/">Prof. Pulkit Grover</a>.
</p>

<h3>My research</h3>

<p>
I work at the intersection of information theory, computational neuroscience and artificial intelligence.
My research focuses on developing information-theoretic abstractions and metrics to help us <em>understand</em> biological and artificial neural circuits.
I believe that true understanding emerges only when we can <em>predict</em> how these systems will behave in unexpected situations, and <em>engineer</em> them to prevent undesirable outcomes.
{% comment %}My broad goal is to contribute to the development, study and application of new information-theoretic and statistical methods in neuroscience and neuroengineering.{% endcomment %}
I like to collaborate with theorists and practitioners to identify fundamental theoretical problems, and address these using formal mathematical and computational models.
</p>

<p>
During my Ph.D., I developed a new framework to measure the information flow of specific messages in the brain.
I showed how such a framework could be adapted to artificial neural networks, to track the flows of accuracy and bias, and selectively remove bias.
I also studied the fundamental limits of high-density Electroencephalography (EEG), showing the theoretical benefits of higher densities, and informing the design of new neural interfaces.
{% comment %}I also endeavoured to bring my theory to practice by collaborating closely with experimentalists and clinicians.{% endcomment %}
</p>

<p>
As a Shanahan Fellow, I have developed estimators for measures of unique, redundant and synergistic information (collectively known as <em>partial information decomposition</em> measures).
My work has enabled the application of these measures to high-dimensional neuroscientific data, and hypothesized a potential information gating mechanism in visual cortex.
More recently, I have been developing and validating a theory of how <em>trial-to-trial variability</em> might serve a useful computational role in visual cortex, by helping us <em>generalize</em> from a small number of examples.
</p>

<p>
Please see my <a href="/research">research page</a> for more, or jump directly to my <a href="/publications">list of publications</a>.
</p>

<h3>Contact me</h3>

<p>
The best way to get in touch with me is email:
{% highlight python %} first_name DOT last_name AT alleninstitute DOT org {% endhighlight %}
</p>

{% comment %}
{% highlight python %}
first_name = 'praveen'
last_initial = 'v'
domain = '@cmu.edu'

# Concatenate
email_id = last_initial + first_name + domain
{% endhighlight %}
{% endcomment %}

{% comment %}
<!-- vim: set ft=liquid : -->
{% endcomment %}
