---
layout: single
author_profile: true
mathjax: true
---

{% comment %}<h3>About me</h1>{% endcomment %}

<p style="font-size: x-large;">
I am a Scientist and a Shanahan Foundation Fellow at the <a href="https://alleninstitute.org/what-we-do/brain-science/">Allen Institute for Brain Science</a>.
</p>

<hr>

<p>
I completed my Ph.D. in Electrical and Computer Engineering from Carnegie Mellon University.
My thesis advisor was <a href="https://users.ece.cmu.edu/~pgrover/">Prof. Pulkit Grover</a>.
</p>

<h3>My research</h3>

<p>
I work at the intersection of information theory, statistics, neuroscience and neuroengineering. I like to collaborate with theorists and practitioners to identify fundamental theoretical problems, and address these using formal mathematical and computational models. My broad goal is to contribute to the development, study and application of new information-theoretic and statistical methods in neuroscience and neuroengineering.
</p>

<p>
During my Ph.D., I developed new frameworks and techniques for information flow in neuroscience, and I have studied the fundamental limits of high-density Electroencephalography (EEG). I also endeavoured to bring my theory to practice by collaborating closely with experimentalists and clinicians.
</p>

<p>
Please see my <a href="/research">research page</a> for more, or jump directly to my <a href="/publications">list of publications</a>.
</p>

<h3>Contact me</h3>

<p>
The best way to get in touch with me is email:
{% highlight python %} first_name DOT last_name AT alleninstitute DOT org {% endhighlight %}
</p>

{% comment %}
{% highlight python %}
first_name = 'praveen'
last_initial = 'v'
domain = '@cmu.edu'

# Concatenate
email_id = last_initial + first_name + domain
{% endhighlight %}
{% endcomment %}

{% comment %}
<!-- vim: set ft=liquid : -->
{% endcomment %}
