---
layout: archive
author_profile: true
---

<h3>Who am I?</h3>

Hi! I'm Praveen, a PhD. candidate in the Electrical and Computer Engineering
department of Carnegie Mellon University. I work in <a
href="https://users.ece.cmu.edu/~pgrover/">Prof. Pulkit Grover</a>'s lab.

<h3>What do I do?</h3>

<p>
Broadly speaking, I'm interested in working at the intersection of signal
processing, information theory, neuroscience and neuroengineering. For the last
few years, I've been focused on problems with clinical applications. My advisor
and I have worked closely with doctors, statisticians and neuroscientists to
find better ways to diagnose brain diseases such as epilepsy and cortical
spreading depolarizations.
</p>

<p>
To be a bit more technical, I've recently been working on understanding the
fundamental limits of brain imaging systems, specifically EEG, and on designing
algorithms for brain signal reconstruction using EEG data. Earlier, I
worked briefly on metrics for measuring information flow in the brain.
</p>
